#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-button {
  background-image: url(../icons/new-button.svg);
}

textarea {
   background-color: #fe55ff;
   text-align: center;
   font-size: 150% !important;
   font-weight: bold !important;
   resize: none;
   padding: 0 !important;
   border: 0 !important;
}

input {
   font-family: inherit;
   font-size: inherit;
   background-color: #fe55ff !important;
   text-align: center;
   font-size: 150% !important;
   font-weight: bold;
}