#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-button {
  background-image: url(../icons/new-button.svg);
}

button.red {
    background-color: #ff0000;
    color: #ffffff;
}

button.purple {
    background-color: #ff00ff;
    color: #000000;
}

button.yellow {
    background-color: #ffff00;
    color: #000000;
}

button.green {
    background-color: #00ff00;
    color: #000000;
}

button.orange {
    background-color: #ffa000;
    color: #000000;
}

button.cyan {
    background-color: #00ffff;
    color: #000000;
}

textarea.text {
   background-color: #ffff00;
   text-align: center;
   font-size: 150% !important;
   font-weight: bold !important;
   resize: none !important;
   padding: 0 !important;
   border: 0 !important;
}

textarea.number {
   background-color: #ff48ff;
   text-align: center;
   font-size: 150% !important;
   font-weight: bold !important;
   resize: none !important;
   padding: 0 !important;
   border: 0 !important;
}
