#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #fast-button {
  background-image: url(../icons/fast-button.svg);
}

#main-toolbar #slow-button {
  background-image: url(../icons/slow-button.svg);
}

#main-toolbar #block-button {
  background-image: url(../icons/block-button.svg);
}

#main-toolbar #clear-button {
  background-image: url(../icons/clear-button.svg);
}

button.sensors {
    background-color: #ff0000;
    color: #ffffff;
}

button.number {
    background-color: #ff00ff;
    color: #000000;
}

button.blocks {
    background-color: #ffff00;
    color: #000000;
}

button.turtle {
    background-color: #00ff00;
    color: #000000;
}

button.flow {
    background-color: #ffa000;
    color: #000000;
}

button.pen {
    background-color: #00ffff;
    color: #000000;
}

textarea.text {
   background-color: #ffff00;
   text-align: center;
   font-size: 150% !important;
   font-weight: bold !important;
   resize: none !important;
   padding: 0 !important;
   border: 0 !important;
}

textarea.number {
   background-color: #ff48ff;
   text-align: center;
   font-size: 150% !important;
   font-weight: bold !important;
   resize: none !important;
   padding: 0 !important;
   border: 0 !important;
}
