body {
    background-color: #99CCFF;
    padding: 0;
    margin: 0;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

input.file {
    visibility: hidden;
}

button.sensors {
    background-color: #ff0066;
    color: #ffffff;
}

button.extras {
    background-color: #ff0066;
    color: #ffffff;
}

button.number {
    background-color: #ff00ff;
    color: #000000;
}

button.blocks {
    background-color: #ffc000;
    color: #000000;
}

button.turtle {
    background-color: #00b700;
    color: #000000;
}

button.flow {
    background-color: #fd6600;
    color: #000000;
}

button.pen {
    background-color: #00c0e7;
    color: #000000;
}

input.savename {
   font-size: 150% !important;
}

input.text {
   background-color: #ffc000;
   text-align: center;
   font-weight: bold !important;
   resize: none !important;
   padding: 0 !important;
   border: 0 !important;
   width: 100px;
}

input.number {
   background-color: #ff00ff !important;
   text-align: center;
   font-weight: bold !important;
   resize: none !important;
   padding: 0 !important;
   border: 0 !important;
   width: 100px;
}

#canvas {
  /*
  overwrite the definition in sugar-web/graphics/css/sugar.css
  to workaroud a bug affecting webkit on android 4.1/4.2
  https://code.google.com/p/android/issues/detail?id=41312
  */
  overflow-y: visible;
}
