<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.one-education.turtleblocksjs"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Hundreds Chart</name>
 
    <description>
        Javascript/HTML5 port of Turtle Blocks
    </description>
 
    <author href="http://one-education.org" email="info@one-education.org">
        One Education
    </author>
	
	<icon src="activity/activity-icon.svg" />
	
    <preference name="permissions" value="none"/>
	<preference name="fullscreen" value="true"/>
	<preference name="uiwebviewbounce" value="false"/>
	<preference name="webviewbounce" value="false"/>
	<preference name="android-minSdkVersion" value="14"/>
</widget>
